.nav img {
    position: absolute;
    width: 18.5rem;
    height: 4.415rem;
    left: 3.125rem;
    top: 1.1875rem;
}
#login {
    position: absolute;
    width: 9.125rem;
    height: 2.913125rem;
    left: 67.1875rem;
    top: 2.1875rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    border: none;
    cursor: pointer;
    color: #000000;
    background: #FFFF00;
    border-radius: 48px;
}
#signin {
    box-sizing: border-box;

    position: absolute;
    width: 9.125rem;
    height: 2.913125rem;
    left: 79.1875rem;
    top: 2.1875rem;
    background: transparent;
    border: 1px solid #FFFF00;
    border-radius: 48px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    cursor: pointer;
    color: #FFFF00;
}